@font-face {
	font-family: "Fredoka";
	src: url("../assets/fonts/fredoka.ttf");
	font-weight: normal;
}

@font-face {
	font-family: "Balsamiq";
	src: url("../assets/fonts/BalsamiqSansRegular.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Balsamiq";
	src: url("../assets/fonts/BalsamiqSansBold.ttf");
	font-weight: bold;
}

@font-face {
	font-family: "Patrick";
	src: url("../assets/fonts/patrick.ttf");
	font-weight: normal;
}



body {
	margin: 0;
	font: 20px 'Balsamiq';
	background: #B4D9E7;
}

#ip_textbox {
	display: none;
	z-index: 999;
	border: 2px solid #B4D9E7;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	outline: 0;
	height: 8%;
	width: 40%;
	padding-left: 20px;
	padding-right: 20px;
	font-family: 'Balsamiq';
	font-weight: bold;
	font-size: 30px;
	color: #2ebaff;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: 29vh;
}
button {
	display: block;
	font-family: 'Balsamiq';
	background: none;
	border: none;
	font-size: 1em;
	outline: 0;
}
.icon {
	margin: 0 auto;
}
#instructions {
	position: absolute;
	bottom: 8vh;
	width: 40%;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-decoration: underline;
	cursor: pointer;
	text-align: center;
}
button:hover {
	color: #5AC2D9;
}
.instructions {
	height: 70vh;
}
.sweet-alert hr {
	display: none;
}
.instructionPage div {
	float: left;
}
.instructionPage img {
	max-height: 40vh;
}
.instructionPage div:first-of-type {
	width: 40%;
	text-align: right;
}
.instructionPage div:last-of-type {
	width: 60%;
	text-align: left;
	padding-left: 5%;
	padding-right: 10%;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.owl-carousel .owl-item{
	float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	position: relative;
}
.owl-prev {
	position: absolute;
	left: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 25px 43.3px 25px 0;
	border-color: transparent #5ac4d9 transparent transparent;
	margin-top:-15%;
}
.owl-next {
	position: absolute;
	right: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 25px 0 25px 43.3px;
	border-color: transparent transparent transparent #5ac4d9;
	margin-top:-15%;
}

/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}
.owl-prev.disabled, .owl-next.disabled{
    opacity: 0.2;
}
