@font-face {
	font-family: "Balsamiq";
	src: url("../assets/fonts/BalsamiqSansRegular.ttf");
}
@font-face {
	font-family: "Balsamiq";
	src: url("../assets/fonts/BalsamiqSansBold.ttf");
	font-weight: bold;
}
@font-face {
	font-family: "Balsamiq";
	src: url("../assets/fonts/BalsamiqSansItalic.ttf");
	font-style: italic, oblique;
}



body {
	margin: 0;
	font: 20px 'Balsamiq';
	background: #B4D9E7;
}

#ip_textbox {
	display: none;
	z-index: 999;
	border: 1px solid #848484;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	outline: 0;
	height: 50px;
	width: 500px;
	padding-left: 20px;
	padding-right: 20px;
	font-family: 'Balsamiq';
	font-weight: bold;
	font-size: 30px;
	color: #2ebaff;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 200px;
}